@font-face {
    font-family: sooz;
    src: url(assets/fonts/sooz.ttf);
}

@font-face {
    font-family: neu;
    src: url(assets/fonts/NeueMontreal-Bold.otf);
}

html {
    transition: all 1.24s ease;
}

body {
    background: #2600ff18;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 80%, #2600ff 140%); */
    cursor: cell;
}

.container {
    max-width: 1800px;
    width: 100%;
    height: 100%;
    /* box-shadow: 1px 1px 80px rgb(47, 0, 255); */
    border: 1px thin black;
    position: relative;
}

.wrapper {
    width: 100%;
    height: 100%;
    /* display: flex; */
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 2fr auto 2fr;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
}

.logoWrap{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    align-items: center;
}

.infoCont{
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.infoWrap{
    width: 100%;
    text-align: center;

}


.sphere {
    background: radial-gradient(closest-side, #c7baff, #e1ebf8, #2f00ff);
    /* background: #2f00ff; */
    width: 40%;
    height: 70%;
    /* width: 50vw;
    height: 50vw; */
    position: absolute;
    /* top: 0; left: 0;  */
    z-index: -1;
    filter: blur(60px);
    border-radius: 100%;
    border: 30px solid #2f00ff;
}

a {
    color: #2f00ff;
    text-decoration: none;
    transition: all 1.24s ease;
    cursor: cell;
    border-bottom: 3px;
}


h1 {
    font-family: 'sooz';
    font-size: 70px;
    margin:0;
    padding: .2em 0;
    color: #000;
    transition: all 1s ease;

}

h3 {
    font-family: 'neu', Arial, Helvetica, sans-serif;
    font-size: 1em;
    letter-spacing: 2px;
    padding: 1.75em 2.2em;
    color: #000;
    background: radial-gradient(#c7baff, #2f00ff);
    /* box-shadow: 3px 3px 8px #2f00ff; */
    /* border: solid 2px #2f00ff; */
    border-radius: 50%;
    transition: all .2s ease;
    filter:blur(5px);

}

h3:hover{
    filter:blur(0px);

}

h3 a{
    width: 100%;
}

html div.darkmode {
    cursor: cell;
    transition: all 1.24s ease;
}

html.dark .darkmode .light,
html:not(.dark) .darkmode .dark {
    display: none;

}

.light{
    transition: all 1.24s ease;
}

.dark h1 {
    color: #fff;
    transition: all 1.24s ease;

}

.dark h3 {
    /* background: #2f00ff83; */
    color: #fff;
    transition: all 1s ease;
    /* border: solid 1px #fff; */
}

@media only screen and (max-width: 1200px) {
    .logoWrap{
        max-width: 800px;
    }
    h1{
        font-size: 70px;
    }
    
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2.5em;
    }
    h3 {
        font-size: .95em;
        padding: 1.3em 2em;
    }

}